@model AssetGuard_Project.Models.EnvioContabilidad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EnvioContabilidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionEC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionEC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auxiliar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Auxiliar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaDB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaDB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaCR)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEC">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
