@model IEnumerable<AssetGuard_Project.Models.EnvioContabilidad>

@{
    ViewData["Title"] = "Index";
}

<h1>Envio a Contabilidad</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear</a>
</p>

<form asp-controller="EnvioContabilidad" asp-action="Index">
    <p>
        <input type="text" name="term" />
        <input type="submit" value="Buscar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionEC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auxiliar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaDB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoEnvioContabilidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionEC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Auxiliar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuentaDB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuentaCR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoEnvioContabilidad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEC" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEC" class="btn btn-secondary">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEC" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
