@model IEnumerable<AssetGuard_Project.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Departamentos</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoDepartamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoDepartamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDepartamento">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdDepartamento">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDepartamento">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
