@model AssetGuard_Project.Models.TiposActivo

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Tipos de Activo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaContableCompraTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaContableCompraTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaContableDepreciacionTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaContableDepreciacionTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoTa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTa">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
