@model AssetGuard_Project.Models.ActivosFijo

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Seguro que quiere borrar este registro?</h3>
<div>
    <h4>ActivosFijo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionAf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionAf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistroAf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistroAf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartamentoAfNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartamentoAfNavigation.DescripcionDepartamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoActivoAfNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoActivoAfNavigation.DescripcionTa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAf" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Regresar</a>
    </form>
</div>
