@model IEnumerable<AssetGuard_Project.Models.ActivosFijo>

@{
    ViewData["Title"] = "Activos Fijos";
}

<h1>Activos Fijos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear</a>
</p>

<form asp-controller="ActivosFijos" asp-action="Index">
    <p>
        <input type="text" name="term" />
        <input type="submit" value="Buscar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionAf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistroAf)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DepreciacionAcumuladaAf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartamentoAfNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoActivoAfNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionAf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistroAf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoAfNavigation.DescripcionDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoActivoAfNavigation.DescripcionTa)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdAf" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdAf" class="btn btn-secondary">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdAf" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
